<p>
	<label for="settings_mss_landing_page_project_id">Project ID</label>
	<input type="text" id="settings_mss_landing_page_project_id" value="<%= settings['project_id'] %>" name="settings[project_id]" />
</p>

<p>
	<label for="settings_mss_landing_page_query_params">Query String Parameters</label>
	?<input type="text" id="settings_mss_landing_page_query_params" value="<%= settings['query_params'] %>" name="settings[query_params]" />
	<em class="info">Enter exactly as you would find in URI; do not include initial "?"</em>
</p>
